[DEFAULT]
{% for opt in fail2ban.jail_conf.iteritems() %}
{{ opt.key }} = {{ opt.value }}
{% endfor %}

# Override /etc/fail2ban/jail.d/00-firewalld.conf:
banaction = iptables-multiport

#jails
{% for jail in fail2ban.jails.iteritems() %}
[{{jail.key}}]
  {% for opt in jail.value.iteritems() %}
{{opt.key}} = {{opt.value}}
  {% endfor %} 
{% endfor %}
