[DEFAULT]

# Override /etc/fail2ban/jail.d/00-firewalld.conf:
banaction = iptables-multiport

[sshd]
enabled = true

[postfix]
enabled = true
mode = more

[mysqld-auth]
enabled = true

[apache-nohome]
enabled = true

[apache-noscript]
enabled = true